body {
  background-color: #000;
}

.container {
  background-color: rgb(255, 99, 71, 0.7);
  border-radius: 15px;
  width: auto;
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  overflow: hidden;
}

.input-length {
  background-color: #fff;
  color: #000;
  height: 1.7rem;
  border-radius: 8px;
  margin: 3px 0 3px 0;
}
.input-length::placeholder {
  color: rgb(0, 0, 0, 0.3);
  font-size: 1rem;
}

.button-generate {
  background-color: tomato;
  color: #fff;
  margin: 10px 0 20px 0;
  padding: 10px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.1rem;
  border: 2px solid black;
  box-shadow: 1px 1px 1px black;
}
.button-generate:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button-generate:active {
  background-color: rgb(255, 99, 71, 0.6);
  box-shadow: inset 1px 1px 1px black;
}

.show-pass {
  background-color: #aaa;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}
